[submodule "themes/hugo-PaperMod"]
	path = themes/hugo-PaperMod
	url = https://github.com/penthaapatel/hugo-PaperMod.git
[submodule "public"]
	path = public
	url = https://github.com/penthaapatel/penthaapatel.github.io.git
